<!doctype html>
<html lang="en">
  <head>
    {{>header}}
   
  </head>
  <body>
    {{>navbar}}




    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/mean-stack-icon.png" alt="" class="img-fluid"  width="400px">
                        </figure>                         
                    </div>


                    <div class="col-md-6 col-12 main_header_left">
                        <!-- main header left -->
                        <p>Hi👋! SAIKAT SAMANTA Here</p>
                        <h1>I am a <span class="text-color">MEAN </span>developer 🐱‍🏍</h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>


                    
                </div>
              </div>
           </div>
     </div>









{{>footer}}








  </body>
</html>